<div class="card-body" style="display:none">
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <center id="printableArea">

                            <div class=""
                                style="width:21cm; padding-left: 20px; padding-right: 20px; padding-top: 20px">
                                <table width="100%" style="border: 1px solid black">
                                    <!--  -->
                                    <tr>
                                        <td style="width: 400px">
                                            <table width="100%" cellspacing="0"
                                                style="font-size:10px; padding: 0px; border-spacing: 0;border-collapse: collapse;">
                                                <tr>
                                                    <th>Image</th>
                                                    <th style="text-align:center">
                                                        <p><u class="KrutiDev_hindi_text">bafM;u
                                                                v‚;y
                                                                d‚j~iksZjs'ku
                                                                fyfeVsM</u>
                                                            <br>
                                                            <b>Indian Oil
                                                                Corporation
                                                                Limited</b>
                                                        </p>
                                                        <p> <u class="KrutiDev_hindi_text">¼
                                                                fpÙkkSM+x<+ VfeZuy ½</u> &nbsp; Chittorgarh Terminal</p>
                                                                    <p>
                                                                    <u class="KrutiDev_hindi_text">¼
                                                                        vkxarqd
                                                                        izos'k
                                                                        irz
                                                                        ½</u>
                                                                    &nbsp;
                                                                    <u>Visitor's
                                                                        Pass</u>
                                                        </p>
                                                    </th>
                                                    <th style="width: 60px">
                                                        &nbsp;
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="border-spacing: 0;border-collapse: collapse;margin:0px">
                                                        <p> <u class="KrutiDev_hindi_text">
                                                                ¼la[;k½ </u>
                                                            &nbsp;
                                                            Sr No. COR-1</p>
                                                    </td>
                                                    <td colspan="2" style="text-align: right; margin:0px">
                                                        <p> <u class="KrutiDev_hindi_text">
                                                                ¼ frfFk ½ </u>
                                                            &nbsp; Date.
                                                            December
                                                            15, 2017 &nbsp;</p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td colspan="2"
                                                        style="border-spacing: 0;border-collapse: collapse; margin:0px">
                                                        <p> <u class="KrutiDev_hindi_text">
                                                                ¼uke½ </u>
                                                            &nbsp;
                                                            Name. PRANAV PANKAJ
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                irk½ </u> &nbsp;
                                                            Address. COMSYS IT
                                                            DELH
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                ¼Qksu½ </u>
                                                            &nbsp;
                                                            Phone. 9911331144
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                xkgh la[;k½ </u>
                                                            &nbsp; Vechile No:
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                ¼feyus ckys
                                                                C;fDr½
                                                            </u> &nbsp; Person
                                                            to
                                                            meet: Finance
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                ¼m}s";½ </u>
                                                            &nbsp;
                                                            Purpose. Official
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                ¼C;fDr;ks dk
                                                                la[;k½
                                                            </u> &nbsp; No. of
                                                            Persons: 1
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                ços'k le;½ </u>
                                                            &nbsp; In Time:
                                                            12:38:05
                                                            <br>
                                                            <u class="KrutiDev_hindi_text">
                                                                ckgj tkus dk
                                                                le;½
                                                            </u> &nbsp; Out
                                                            time:
                                                            12:38:05
                                                        </p>

                                                    </td>
                                                    <td rowspan="1">Image</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1">
                                                        <p> <u class="KrutiDev_hindi_text">
                                                                ¼ xkMZ dk
                                                                gLrk{kj ½
                                                            </u> <br> Signature
                                                            of
                                                            Security</p>
                                                    </td>
                                                    <td colspan="1">
                                                        <p> <u class="KrutiDev_hindi_text">
                                                                ¼ vf/kdkjh dk
                                                                gLrk{kj ½ </u>
                                                            <br>
                                                            Signature of officer
                                                        </p>
                                                    </td>
                                                    <td colspan="1" style="width: 100px">
                                                        <p> <u class="KrutiDev_hindi_text">
                                                                ¼ vkxarqd dk
                                                                gLrk{kj
                                                                ½ </u> <br>
                                                            Signature of visitor
                                                        </p>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                        <td style="border-left: 1px solid black" width="400px">
                                            <table width="100%" style="font-size: 10px;">
                                                <tr>
                                                    <th>
                                                        <p style="text-align:center">
                                                            <u class="KrutiDev_hindi_text">egRoiq.kZ
                                                                funsZ'k</u>
                                                            <br>
                                                            <u>IMPORTANT
                                                                INSTRUCTION</u>
                                                            <br>
                                                        </p>
                                                        <p>
                                                            *<span class="KrutiDev_hindi_text">;g
                                                                ,d izfrcaf/kr
                                                                {ks=
                                                                gSA</span>
                                                            <br>
                                                            * This is a
                                                            prohibted
                                                            area
                                                            <br>
                                                            *<span class="KrutiDev_hindi_text">vkils
                                                                vuqjks/k gS fd
                                                                lqj{kk ,oa
                                                                lqj{kk
                                                                fu;eksa dk ikyu
                                                                djsaA</span>
                                                            <br>
                                                            * Kindly follow
                                                            Safety
                                                            and Security rules.
                                                            <br>
                                                            *<span class="KrutiDev_hindi_text">;gk¡
                                                                eksckbZy Qksu]
                                                                ekfpl] ykbZVj]
                                                                flxjsV ,oa
                                                                vlr&'kL=
                                                                dk iz;ksx
                                                                iw.kZr%
                                                                oftZr gSA</span>
                                                            <br>
                                                            * Mobiles, Matches,
                                                            Lighter, Smoking and
                                                            Arms prohibited.
                                                            <br>
                                                            *<span class="KrutiDev_hindi_text">Ifjlj
                                                                esa ;krk;kr
                                                                fu;eksa
                                                                dk ikyu
                                                                djsA</span>
                                                            <br>
                                                            * Follow Traffic
                                                            Rules
                                                            in premises.
                                                            <br>
                                                            *<span class="KrutiDev_hindi_text">ykbZlsalM
                                                                ifjlj esa izos'k
                                                                gsrq fo'ks"k
                                                                vuqefr
                                                                dh vko';drk
                                                                gksrh
                                                                gSA ykbZlsal
                                                                ifjlj
                                                                esa fcuk lqj{kk
                                                                gsyesV ,oa lqj{k
                                                                twrs ds izos'k
                                                                oftZr
                                                                gSA</span>
                                                            <br>
                                                            * Entry in Licensed
                                                            area
                                                            is permitted only
                                                            with
                                                            Safety Shoes and
                                                            Helmet.
                                                            <br>
                                                            *<span class="KrutiDev_hindi_text">VfeZuy
                                                                ds ifjlj esa
                                                                QksVks&xzkQh@foMh;ks&xzkQh
                                                                djuk euk
                                                                gSA</span>
                                                            <br>
                                                            * Camera,
                                                            photography/videography
                                                            strictly prohibited.
                                                            <br>
                                                            *<span class="KrutiDev_hindi_text">;gk¡&rgk¡
                                                                xanxh u QSyk,
                                                                ,oa
                                                                dqMsnku dk
                                                                iz;ksx
                                                                djsA</span>
                                                            <br>
                                                            * Don't Litter, use
                                                            Dust
                                                            bins.
                                                            <br>
                                                            *<span class="KrutiDev_hindi_text">Ifjlj
                                                                ds vanj
                                                                vkikrdkyhu
                                                                esa ?kcjk, ugha
                                                                ,oa
                                                                rqjar eq[;
                                                                izos'k
                                                                }kj ds ikl
                                                                igqapsA
                                                                fn;s tk jgs
                                                                lqj{kk
                                                                funsZ'kksa dk
                                                                ikyu
                                                                djsA</span>
                                                            <br>
                                                            * In emergency reach
                                                            towards Main Gate
                                                            and
                                                            follow provided
                                                            Safety
                                                            Instructions.
                                                            <br>
                                                            <span class="KrutiDev_hindi_text">vkils
                                                                lg;ksx vkisf{kr
                                                                gSA</span>
                                                            <br>
                                                            Kindly Cooperate
                                                            with
                                                            Security.
                                                        </p>
                                                    </th>
                                                </tr>





                                            </table>
                                        </td>

                                    </tr>

                                </table>


                            </div>
                        </center>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>